DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rihlah
JWT_SECRET=rihlah-paskibra-samarang-jwt-secret-key-32-chars-long!
PANITIA_PIN_HASH=$2a$10$CX9/pnUX94R42xWNEd.e.ucC7S8ZmP.g02.IxymbmCZnW3soeGhzK
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
